

body {

	font-family: monserrat;
	margin: auto;
	background-image:url(../css/images/fod.jpg);
}
nav {
	background: black;
	height: 80px;
	width: 100%;
}

label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color:  white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}


a.active,a:hover{
	background: orange;
	transition: .5s;
}
/* ---Titre--- */

.titre{
	background-color: orange;
}

h2{
	text-align: center;
}

#para1{
	text-align: center;
	line-height: 2em;
}

/* ---Gallery--- */

.swing {
	animation: swing ease-in-out 1s infinite alternate;
	transform-origin: center -20px;
	float:left;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
	border: 5px solid #f8f8f8;
	display: block;
}
.swing:after{
	content: '';
	position: absolute;  
	width: 20px; height: 20px;  
	border: 1px solid #999;
	top: -10px; left: 50%;
	z-index: 0;
	border-bottom: none;
	border-right: none;
	transform: rotate(45deg);
}

.swing:before{
	content: '';
	position: absolute;
	width: 5px; height: 5px;
	top: -14px;left: 54%;
	z-index: 5;
	border-radius: 50% 50%;
	background: #000;
}

@keyframes swing {
	0% { transform: rotate(3deg); }
	100% { transform: rotate(-3deg); }
}

@media screen and (max-width: 1044px) {
	ul{
		display: none;
	}
	label.logo {
		padding: 0000;
	}
}
