body {

	font-family: monserrat;
	margin: auto;

}
nav {
	background: black;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color:  white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}
a.active,a:hover{
	background: orange;
	transition: .5s;
}
@media screen and (max-width: 1044px) {
	ul{
		display: none;
	}
	label.logo {
		padding: 0000;
	}
}